@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: linear-gradient(to right, #101935, #061541);
  background-size: cover;
}

.outermost-container {
  background-color: #90ad2a;
  height: 90vh;
  width: 90vw;
  margin: 5vh 5vw;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-col {
  background-color: #101935;
  height: 88vh;
  width: 20vw;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 2vh;
  flex-wrap: wrap;
}

.nav-col h5 a {
  text-decoration: none;
  color: #90ad2a;
  text-transform: uppercase;
}

.nav-col h6 {
  color: #f1f1f1;
  font-size: 10px;
  text-transform: capitalize;
}

.row {
  display: flex;
  flex-direction: column;
}

.col {
  margin: 1.5vh 0;
  text-align: center;
  border-bottom: 1px solid #90ad2a;
}

.col a {
  text-transform: capitalize;
  text-decoration: none;
  color: #f1f1f1;
}

.col a:hover {
  color: #90ad2a;
}

.body-col {
  background-color: #061541;
  height: 88vh;
  width: 68vw;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#two {
  overflow-y: scroll;
}

.bkghero {
  height: 85vh;
  width: 65vw;
  background-image: url("../images/hero.png");
  background-size: cover;
}

.hero {
  height: 85vh;
  width: 65vw;
  background-color: #061541;
  background-size: cover;
  opacity: 0.5;
}

.about {
  height: 85vh;
  margin: 4vh 0;
  width: 65vw;
  transition-delay: 13s;
}

.projects {
  height: 85vh;
  margin: 4vh 0;
  width: 65vw;
}

.resume {
  height: 85vh;
  margin: 4vh 0;
  width: 65vw;
}

.hobbies {
  height: 85vh;
  margin: 4vh 0;
  width: 65vw;
}

.contact {
  height: 85vh;
  margin: 4vh 0;
  width: 65vw;
}

.profile-pic {
  height: 22vh;
  width: 22vh;
  background-image: url("../images/portfolio.jpeg");
  border-radius: 50%;
  background-size: cover;
}

.nav-col p {
  font-size: 11px;
  color: #90ad2a;
  text-align: center;
}

.social-icons {
  display: flex;
}

.social-icons a {
  margin: 0 0.5rem;
}
