@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: linear-gradient(to right, #101935, #061541);
  background-size: cover;
}

.outermost-container {
  background-color: #90ad2a;
  height: 90vh;
  width: 90vw;
  margin: 5vh 5vw;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-col {
  background-color: #101935;
  height: 88vh;
  width: 20vw;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 2vh;
  flex-wrap: wrap;
}

.nav-col h5 a {
  text-decoration: none;
  color: #90ad2a;
  text-transform: uppercase;
}

.nav-col h6 {
  color: #f1f1f1;
  font-size: 10px;
  text-transform: capitalize;
  font-weight: 800;
}

.row {
  display: flex;
  flex-direction: column;
}

.col {
  margin: 1.5vh 0;
  text-align: center;
  border-bottom: 1px solid #90ad2a;
}

.col a {
  text-transform: capitalize;
  text-decoration: none;
  color: #f1f1f1;
}

.col a:hover {
  color: #90ad2a;
}

.body-col {
  background-color: #061541;
  height: 88vh;
  width: 68vw;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0 !important;
}

.bkghero {
  height: 85vh;
  width: 65vw;
  background-image: url("../images/imageedit_1_5111354226.png");
  background-size: cover;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: -1;
  flex-direction: column;
}

.bkghero span {
  color: #90ad2a;
}

.bkghero p {
  color: #f1f1f1;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Poppins", sans-serif !important;
}

.bkghero h6 {
  color: #f1f1f1;
  font-weight: 400;
  text-transform: capitalize;
}

.hero {
  height: 85vh;
  width: 65vw;
  margin-top: -85vh;
  background-color: #06154188;
  border-bottom: 1px solid #90ad2a;
}

.about {
  height: 85vh;
  margin: 4vh 0;
  width: 65vw;
  transition-delay: 13s;
  border-bottom: 1px solid #90ad2a;
}

.projects {
  height: 90vh;
  margin: 4vh 0;
  width: 65vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow-x: hidden;
  align-items: center;
  border-bottom: 1px solid #90ad2a;
  padding-bottom: 5vh;
}

.projects p {
  font-size: 20px;
  font-weight: 500;
  color: #f1f1f1;
  text-transform: uppercase;
}

.container-fluid {
  width: 65vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  overflow: hidden;
  align-items: center;
}

.cards {
  height: 80vh;
  width: 44vw;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  background-color: #061541;
  border-radius: 5px;
  padding: 2vh;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 5vh;
}

.cards h6 {
  font-weight: 700;
  text-transform: capitalize;
  color: #90ad2a;
}

.cards p {
  text-transform: initial;
  font-size: medium;
  text-align: center;
}

.cards em {
  color: #90ad2a;
  cursor: pointer;
}

.cards em:hover {
  text-decoration: underline;
}

#prev,
#two,
#three,
#four {
  display: none;
}

.photos {
  height: 40vh;
  width: 42vw;
  background-size: cover;
  border-radius: 5px;
  overflow: hidden;
}

.one {
  background-image: url("../images/insurance.jpg");
}

.two {
  background-image: url("../images/mitsubishi2.jpg");
}

.three {
  background-image: url("../images/burger.jpg");
}

.four {
  background-image: url("../images/moveme.jpg");
}

.slider {
  width: 20vw;
  height: 7vh;
  border: 1px solid #90ad2a;
  display: flex;
}

.pgs {
  width: 5vw;
  height: 7vh;
  border: 1px solid #90ad2a;
  color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pgs:hover {
  background-color: #90ad2a;
  color: #061541;
}

.resume {
  height: max-content;
  margin: 4vh 0;
  width: 65vw;
  border-bottom: 1px solid #90ad2a;
}

.employment {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64vw;
  align-items: center;
  height: 100vh;
  justify-content: space-evenly;
}

.txt {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3vw;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 55vw;
  height: 40vh;
}

.icon-cards {
  height: 30vh;
  width: 25vw;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;
}

.icon-cards strong {
  color: #90ad2a;
}

.icon-cards p {
  text-transform: capitalize;
  color: #f1f1f1;
  font-weight: 500;
}

.btn1 {
  color: #101935;
  background-color: #90ad2a;
  padding: 0.5rem 1.2rem;
  text-transform: capitalize;
  font-size: 13px;
  font-weight: 700;
  border-radius: 2px;
  cursor: pointer;
}

.btn1 a {
  text-decoration: none;
  color: #101935;
}

.txt h4 {
  color: #f1f1f1;
  font-family: "Poppins", sans-serif !important;
}

.hobbies {
  height: max-content;
  margin: 4vh 0;
  width: 65vw;
  display: flex;
  align-items: center;
  color: #f1f1f1;
  flex-direction: column;
  border-bottom: 1px solid #90ad2a;
}

.hobbies p {
  width: 30vw;
  margin-left: 5.4vw;
  color: #90ad2a;
}

.hobbies h4 {
  text-transform: uppercase;
  margin-left: 3vw;
  margin-bottom: 7vh;
  margin-top: 3vh;
}

.chess {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40vw;
}

.chess h6 {
  font-size: 15px;
  width: 30vw;
  margin-left: 3vw;
}

#chest {
  height: 15em;
  width: 15em;
  clip-path: url("#clippy");
}

#aliens {
  height: 15em;
  width: 15em;
  clip-path: url("#clippy-two");
}

.conspiracy {
  margin-top: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40vw;
}

.conspiracy h6 {
  font-size: 15px;
  width: 30vw;
  margin-left: 3vw;
}

.contact {
  height: max-content;
  margin: 4vh 0;
  width: 65vw;
}

iframe {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 65vw;
  height: 135vh;
  border: none;
}

.profile-pic {
  height: 22vh;
  width: 22vh;
  background-image: url("../images/portfolio.jpeg");
  border-radius: 50%;
  background-size: cover;
}

.nav-col p {
  font-size: 11px;
  color: #90ad2a;
  text-align: center;
}

.social-icons {
  display: flex;
}

.social-icons a {
  margin: 0 0.5rem;
}

@media screen and (max-width: 881px) {
  .outermost-container {
    flex-direction: column;
    height: max-content;
    width: 100vw;
    padding: 0;
    margin: 0;
  }

  .nav-col {
    width: 100vw;
  }

  .body-col {
    width: 100vw;
    height: max-content;
  }
  .bkghero {
    width: 100vw;
    margin: initial 0;
  }
  .hero,
  .about,
  .projects,
  .resume,
  .hobbies,
  .contact {
    width: 100vw;
    margin: initial 0;
    height: max-content;
  }

  .container-fluid {
    width: 100vw;
  }
  .container {
    overflow: hidden;
  }

  .projects {
    margin-top: 100vh;
  }

  .cards {
    width: 100vw;
  }

  .photos {
    width: 80vw;
    height: 30vh;
  }

  .slider {
    width: 48vw;
  }

  .pgs {
    width: 12vw;
    cursor: pointer;
  }

  .txt {
    height: max-content;
  }

  .employment {
    width: 100vw;
    height: max-content;
  }

  .icons {
    flex-direction: column;
    height: max-content;
    align-items: center;
  }

  .icon-cards {
    width: 100vw;
    margin: 5vh 0;
  }

  .hobbies {
    margin: 0;
  }

  .hobbies p {
    width: auto;
    margin: 0;
    font-size: 14px;
  }

  .chess h6,
  .conspiracy h6 {
    margin: 0;
    width: 45vw;
    font-size: 13px;
    margin-left: 3vw;
  }

  .chess,
  .conspiracy {
    width: 100vw;
    margin: 5vh;
  }

  #chest,
  #aliens {
    height: 10em;
    width: 10em;
  }

  .contact {
    height: max-content;
  }

  iframe {
    width: 100vw;
    height: 100vh;
    overflow: scroll;
  }
}
